@media screen and (max-width: 1240px)  {
	
}

@media screen and (max-width: 1024px) {
	
}

@media screen and (max-width: 820px) {
    .header {
        padding: 18px 0;
        background-color: #343a40;
        color: #fff;
    
        .container {
            display: flex;
            justify-content: space-between;
        }
    
        &__main {
            
            .header__nav {
    
                .logo {
    
                }
    
                .nav__list {
    
                    &-item {
                        margin-bottom: 2%;
                        display: block;
                    }
    
                    &-link {
                        font-size: 16px;
    
                        &.submenu {
                            
                            &::after {
                                content: none;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        &__extra {
            font-size: 18px;
    
            .header__lang {
                
                .lang {
    
                    &::after {
                        content: none;
                        margin-left: 10px;
                    }
                }
            }
    
            .header__login {
                margin-left: 40px;
    
                .login {
    
                    img {
                        margin-right: 5px;
                        display: inline-block;
                    }
    
                    span {
                        vertical-align: text-top;
                    }
                }
            }
        }
    }
}

/* mobile */
@media screen and (max-width: 768px) {
	.container {
        padding: 0 10px;
        width: 100%;
    }

    .header {
        padding: 18px 0;
        background-color: #343a40;
        color: #fff;
    
        .container {
            display: flex;
            justify-content: space-between;
        }
    
        &__main {
            
            .header__nav {
    
                .logo {
                    transform: translateX(-50%);
                    position: absolute;
                    order: 2;
                    left: 50%;
                }
    
                .nav__list {
    
                    &-item {
                        margin-left: 0;
                        margin-bottom: 2%;
                        display: block;
                    }
    
                    &-link {
                        font-size: 16px;
    
                        &.submenu {
                            
                            &::after {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        &__extra {
            font-size: 18px;
    
            .header__lang {
                
                .lang {
    
                    &::after {
                        margin-left: 10px;
                    }
                }
            }
    
            .header__login {
                margin-left: 40px;
    
                .login {
    
                    img {
                        margin-right: 5px;
                        display: inline-block;
                    }
    
                    span {
                        vertical-align: text-top;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {

}

@media screen and (min-width: 0px) and (max-width: 320px) {
	
}