.footer {
    padding: 26px 0;
    background-color: #f7fafe;
    color: $main-text;;

    &__nav {

        &-link {
            margin-right: 24px;
            font-size: 14px;
        }
    }

    &-divide {
        margin: 12px 0 14px;
        height: 1px;
        width: 100%;
        background-color: #d8d8d8;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        opacity: .4;

        &-address {
            line-height: 1.8;
        }
    }
}